<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Blogger | <%= title %></title>

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="/css/all.css" />

  <!-- --------- Owl-Carousel ------------------->
  <link rel="stylesheet" href="/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="/css/owl.theme.default.min.css" />

  <!-- ------------ AOS Library ------------------------- -->
  <link rel="stylesheet" href="/css/aos.css" />

  <!-- Custom Style   -->
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/details.css" />
  <link rel="stylesheet" href="/css/create.css" />
</head>
