<!-- ----------------------------  Navigation ---------------------------------------------- -->

<nav class="nav">
  <div class="nav-menu flex-row">
    <div class="nav-brand">
      <a href="/blogs" class="text-gray"><i class="fas fa-book fa-1x"></i> &nbsp;Blogger</a>
    </div>
    <div class="toggle-collapse">
      <div class="toggle-icons">
        <i class="fas fa-bars"></i>
      </div>
    </div>
    <div>
      <ul class="nav-items">
        <li class="nav-link"><i class="fas fa-home fa-1x"></i> &nbsp;<a href="/">Home</a></li>
        <li class="nav-link">
          <i class="fas fa-plus fa-1x"></i> &nbsp;<a href="/blogs/create">Create New Blog</a>
        </li>
        <li class="nav-link">
          <i class="fas fa-user fa-1x"></i> &nbsp; <% if (isAuth) { %>
          <a href="/users/auth/logout">Logout</a>
          <% } else {%>
          <a href="/users/login">Login</a>
          <%}%>
        </li>
      </ul>
    </div>
    <div class="social text-gray">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
</nav>

<!-- ------------x---------------  Navigation --------------------------x------------------- -->
