<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs",{isAuth: isAuth}) %>

    <div class="create-blog content">
      <form action="/users" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <label for="confirmPassword">Confirm Password:</label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          required
        />
        <div
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
          "
        >
          <button>Register</button>
          <p style="margin-top: 40px">
            Already registered ? <a href="users/login">Login</a>
          </p>
        </div>
      </form>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
